body
{
	margin: 0;
	padding: 0;
	background: url(potfolio-img/bg.jpg);
	background-size: cover;
}








.contact
{
	width: 85%;
	max-width: 600px;
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-60%,-50%);
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000;
	font-family: "Montserrat" ,sans-serif;
}
.contact h1
{
	margin-top: 0;
	font-weight: 200;
	color: #13cedf;
}
.text
{
	border: 1px solid #E99125;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
}
.text label
{
	display: block;
	text-align: left;
	color: #36E925;
	text-transform: uppercase;
	font-size: 14px;
}
.text input,
.text textarea
{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}
.button
{
	display: inline-block;
	background: #13cedf;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 8px;
	width: 50%;
	border-radius: 8px;
}